<figcaption class="image-card-wrapper" data-width-ratio="">
  <div class="image-card sqs-dynamic-text-container">
    <div class="image-title-wrapper">
      <div
        class="image-title sqs-dynamic-text"
        data-width-percentage="41.4"
        style="font-size: max(0.75rem, 41.4%)"
      >
        <h3
          style="
            white-space: pre-wrap;
            transition-timing-function: ease;
            transition-duration: 0.9s;
            transition-delay: 0.355556s;
          "
          class="preFade fadeIn"
        >
          Classical Christian Education
        </h3>
      </div>
    </div>

    <div class="image-subtitle-wrapper">
      <div
        class="image-subtitle sqs-dynamic-text"
        data-width-percentage="41.4"
        style="font-size: max(0.75rem, 41.4%)"
      >
        <p
          class="preFade fadeIn"
          style="
            white-space: pre-wrap;
            transition-timing-function: ease;
            transition-duration: 0.9s;
            transition-delay: 0.377778s;
          "
        >
          Applications for the 2023-2024 school year will be available in
          March.&nbsp;
        </p>
        <p
          class="preFade fadeIn"
          style="
            white-space: pre-wrap;
            transition-timing-function: ease;
            transition-duration: 0.9s;
            transition-delay: 0.4s;
          "
        >
          In the meantime, if you have not yet taken the first step in our
          application process of fully reviewing Eden’s vision profile (a
          document that speaks to Eden’s vision, mission, distinctives, and
          Portrait of a Graduate), please begin
          <a
            href="https://www.csmedia1.com/doxa.church/eden-vision-profile-jan-21-2023.pdf"
            >here</a
          >.&nbsp; We also commend the following resources to deepen your
          understanding of classical Christian education:&nbsp;&nbsp;
        </p>
        <ul data-rte-list="default">
          <li>
            <p
              class="preFade fadeIn"
              style="
                white-space: pre-wrap;
                transition-timing-function: ease;
                transition-duration: 0.9s;
                transition-delay: 0.422222s;
              "
            >
              <a href="https://classicalchristian.org/what-is-cce/"
                ><span style="text-decoration: underline"
                  >What is Classical Christian Education</span
                ></a
              >? (by the Association of Classical Christian Schools
              (ACCS))&nbsp;
            </p>
          </li>
          <li>
            <p
              class="preFade fadeIn"
              style="
                white-space: pre-wrap;
                transition-timing-function: ease;
                transition-duration: 0.9s;
                transition-delay: 0.444444s;
              "
            >
              <a
                href="https://classicalacademicpress.com/pages/what-is-classical-education"
                ><span style="text-decoration: underline"
                  >What is Classical Education</span
                ></a
              >? (Classical Academic Press (CAP)
            </p>
          </li>
          <ul data-rte-list="default">
            <li>
              <p
                class="preFade fadeIn"
                style="
                  white-space: pre-wrap;
                  transition-timing-function: ease;
                  transition-duration: 0.9s;
                  transition-delay: 0.466667s;
                "
              >
                <em>An Introduction to Classical Education</em> by Dr.
                Christopher Perrin (45 page book as
                <a
                  href="https://www.ascentclassical.org/wp-content/uploads/2020/09/ICE_PSE.pdf"
                  ><span style="text-decoration: underline">PDF</span></a
                >, hard copy available
                <a
                  href="https://www.amazon.com/Introduction-Classical-Education-Latin/dp/1600510205"
                  ><span style="text-decoration: underline"
                    ><strong>here</strong></span
                  ></a
                >)
              </p>
            </li>
            <li>
              <p
                class="preFade fadeIn"
                style="
                  white-space: pre-wrap;
                  transition-timing-function: ease;
                  transition-duration: 0.9s;
                  transition-delay: 0.488889s;
                "
              >
                Enjoy the first two
                <a
                  href="https://classicalu.com/courses/intro-to-classical-ed/?__hstc=45061755.3e404f34f5ece9ad89e2ffef1e8ec6a6.1673470175469.1673470175469.1673470175469.1&amp;__hssc=45061755.4.1673470175469&amp;__hsfp=2914554614"
                  ><span style="text-decoration: underline"
                    >videos of
                    <em>Introduction to Classical Education</em></span
                  ></a
                ><em> </em>(videos are an expansion on the book noted above)
              </p>
            </li>
          </ul>
          <li>
            <p
              class="preFade fadeIn"
              style="
                white-space: pre-wrap;
                transition-timing-function: ease;
                transition-duration: 0.9s;
                transition-delay: 0.511111s;
              "
            >
              For a deeper dive into the trivium, quadrivium, and the study of
              the liberal arts see:&nbsp;
              <a
                href="https://www.amazon.com/Liberal-Arts-Tradition-Philosophy-Christian/dp/1600512259"
                ><span style="text-decoration: underline"
                  ><em
                    >The Liberal Arts Tradition: A Philosophy of Christian
                    Classical Education</em
                  ></span
                ></a
              ><em> </em>
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</figcaption>
