<img
  src="
    //images.squarespace-cdn.com/content/v1/6049396cb2060d44b81a0cae/19db3894-dda8-4af0-bd78-a16805e1f4de/eden_academy_logo_shield_logotype_gold.png?format=1500w
  "
  alt="Eden Classical Academy"
/>

<h1 style="color: #b0965b; width: 1000px">
  Providing Collaborative, Part-Time, Christ-centered Classical Education
</h1>

<p style="color: #b0965b; width: 1000px">
  Eden Classical Academy exists to glorify God by cultivating students in wisdom
  and virtue through collaborative engagement with parents in Christ-centered,
  classical education.
</p>

<footer style="color: #253651; width: 1000px">
  NOTICE OF NONDISCRIMINATORY POLICY AS TO STUDENTS: Eden Classical Academy
  admits students of any race, color, national and ethnic origin to all the
  rights, privileges, programs, and activities generally accorded or made
  available to students at the school. It does not discriminate on the basis of
  race color, national and ethnic origin in administration of its educational
  policies, admissions policies, scholarship and loan programs, and athletic and
  other school-administered programs.
</footer>
